

/* =========================
   Footer
   ========================= */
footer {
    background-color: var(--dark-color);
    color: var(--footer-text);
    text-align: center;
    padding: var(--spacing);
    margin-top: 2rem;
    font-size: 0.9rem;
}
footer p {
    margin-bottom: 1rem;
    opacity: 0.8;
}
.footer-social a {
    color: var(--footer-text);
    margin: 0 0.5rem;
    font-size: 1.2rem;
    transition: var(--transition);
}
.footer-social a:hover {
    color: var(--secondary-color);
    transform:scale(1.2);
}



/* From Uiverse.io by elisapi */ 
.card {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 20px;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  border-radius: 30px;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
  transform: scale(1.2);
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
